body {
}

.navlink {
    text-align: right;
    margin-top: 0px;
    margin-right: 10px;
    float: right;
    color: #219ebc;
}
.navlink:hover {
    text-decoration: none;
    color: #264653;
    font-weight: bolder;
}

.show-btn-op{
    border: none;
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.delete-btn:hover {
    font-weight: bolder;
    background-color: #800000;
}

.show-btn-op.cancel-button {
    padding-top: 6px;
    padding-bottom: 7px;
    color: white;
    background-color: forestgreen;
    margin-left: 15px;
}

.cancel-button:hover{
    text-decoration: none;
    font-weight: bolder;
    background-color: darkgreen;
}

.delete-btn-logo {
    filter: invert(21%) sepia(77%) saturate(6741%) hue-rotate(356deg) brightness(106%) contrast(120%);
    position:relative;
    top: 30px;
    left: 120px;
    float:right;
}

img.ui-datepicker-trigger {
    filter: invert(52%) sepia(94%) saturate(7498%) hue-rotate(213deg) brightness(105%) contrast(103%);
    height: 35px;
    margin-bottom: 6px;
    padding-left: 5px;
}

img.ui-datepicker-trigger:hover {
    filter: invert(40%) sepia(99%) saturate(4371%) hue-rotate(130deg) brightness(94%) contrast(101%);
}

.delete-btn-logo:hover {
    filter: invert(5%) sepia(78%) saturate(7251%) hue-rotate(359deg) brightness(108%) contrast(106%);
}

.edit-btn-logo {
    filter: invert(44%) sepia(34%) saturate(5723%) hue-rotate(99deg) brightness(102%) contrast(97%);
    position: relative;
    top: 80px;
    left: 170px;
    float: right;
}

.edit-btn-logo:hover {
    filter: invert(22%) sepia(46%) saturate(2875%) hue-rotate(105deg) brightness(89%) contrast(98%);
}

.add-btn-logo-person {
    filter: invert(48%) sepia(99%) saturate(972%) hue-rotate(122deg) brightness(90%) contrast(97%);
    padding-right: 40px;
    float: right;
}

.add-btn-logo-person:hover{
    filter: invert(31%) sepia(9%) saturate(6010%) hue-rotate(122deg) brightness(102%) contrast(98%);
}

#containerlist, #containershow {
    width: 100%;
    margin-top: 20px;
}

.listitem {
    margin: 10px 0;
}

.filter_list a {
    color: #264653;
    font-size: 1.3em;
}

.filter_list a:hover {
    color: #2a9d8f;
    text-decoration: none;
    font-weight: bolder;
}

input.filter-toggle:hover {
    color: #6f1a07;
    font-weight: bolder;
}

input.Submit {
    background: #264653;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}

input.Submit:hover {
    background: #2a9d8f;
}
.filter-toggle {
    background: none;
    border: none;
    color: #d62828;
}

.filter-toggle:hover{
    color: #6f1a07;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

.filter-column {
    flex: 1 0 0;
    text-align: center;
    margin-top: 20px;
}

.collapsible-div {
    text-align: right;
    margin-right: 25%;
    margin-top: 20px;
}

.detailed-list > *{
    margin-left: 20px;
    font-size: 1.2em;
    padding-bottom: 5px;
    color: #2B2118;
}

.navbar-inverse {
    background-color: #03045E;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffb703;
}

.navbar-inverse .navbar-brand {
     color: #fff; 
}

.navbar-inverse .navbar-brand:hover {
    color: #fb8500;
}

.navbar-inverse:hover {
    color: #ffb703;
}

h2 {
    font-size: 3em;
    color: #2A9D8F;
}
#name-div{
    padding-top: 20px;
}
input {
    border-radius: 5px;
    border: 1px solid #8ecae6;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 10px;
}

label {
    color: #1d3557;
}

.detailed-link {
    color: #219EBC;
}

.detailed-link:hover {
    color: #FB8500;
    text-decoration: none;
    font-weight: bolder;
}

.create-form {
    padding-top: 6px;
    padding-bottom: 7px;
    padding: 5px;
    color: white;
    background-color: darkseagreen;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

.create-form.submit-btn{
    background-color: deepskyblue;
}

.create-form.cancel-button:hover{
    background-color: darkgreen;
    color: white;
}

.create-form.submit-btn:hover{
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}