<div class="jumbotron">
    <h1>University Portal</h1>
    <p class="lead"></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Use the links mentioned in the top navbar to switch between the Teachers, Students, and Class pages. </p>
    </div>
</div>
